[2017-11-02 18:40] davidlmobley opened #3 "Post the section assignments here?"
@avisekdas - In the "Basic simulation concepts and terminology" section there is a long range electrostatics that no one has worked on yet. I think you assigned me just the "Classical electrostatics" section, so this would fall to @hmayes or @justingilmer?

Maybe you just want to post the section assignments here for the record?

[2017-11-02 18:55] davidlmobley opened #4 "Migrate cited Shell notes to GitHub"
@JIMonroe - in your section you cite some specific notes from Scott Shell; can you give the URL of the ones you are referencing? Scott has given us permission to migrate these to GitHub, and I was going to be migrating them to here: https://github.com/kofkeLab/Mol-Sim-Intro . I will prioritize migrating this specific set of notes (crediting Scott for authorship of course) so we can cite it in our

[2017-11-02 19:24] JIMonroe commented on #4
@davidlmobley
For periodic boundary conditions: https://engineering.ucsb.edu/~shell/che210d/Simulations_of_bulk_phases.pdf
For information on how to conduct simulations, equilibrations, etc.: https://engineering.ucsb.edu/~shell/che210d/Molecular_dynamics.pdf
https://engineering.ucsb.edu/~shell/che210d/Computing_properties.pdf

[2017-11-02 19:27] davidlmobley commented on #4
Excellent, thanks. This had been on my list to get going on but I hadn't done anything; this should provide the impetus to start migrating.

[2017-11-02 19:27] davidlmobley commented on #4
(If you don't mind I'll ping you once I start putting them up there and you can perhaps check for me to make sure I haven't botched anything, etc.)

[2017-11-02 19:43] JIMonroe opened #6 "Should we remove the long-range electrostatics section?"
@davidlmobley, you actually address some of this topic in your electrostatic interactions section.  Do we want to go into any more detail on this in a separate section?  Or maybe include a little more detail in your section?

In my opinion, we delete the section.  Additionally, you don't need to extend what you wrote as long as you make your citations more specific to exact book chapters and secti

[2017-11-02 19:47] davidlmobley commented on #6
That sounds fine to me; I don't totally see why a different section would be needed, except perhaps maybe we need to get into issues about how to select appropriate parameters for using these in practice?

[2017-11-02 19:51] JIMonroe commented on #4
Sounds good to me.

[2017-11-02 19:57] JIMonroe commented on #6
Maybe.  But doesn't this vary somewhat with the implementation and MD package used?  In my experience all of the MD code manuals say something along the lines of, "Don't touch the Ewald parameters unless you really know what you're doing."  I'm not certain, but in some cases I think combinations of parameters are chosen to optimize efficiency within a certain assumed error tolerance.  At least tha

[2017-11-02 20:05] davidlmobley commented on #6
I was thinking mainly that Michael Shirts had a paper, I believe, which showed how to play with these if you really want to -- basically, start with something "definitely correct" and see if you can find a faster combination of settings which still gives the same answer.

[2017-11-02 20:26] hmayes commented on #3
Posting the assignments here, the readme, or even in the document would
help me quite a bit, especially if they sync up with the document sections.
Here is what went out a bit ago:
David Mobley: Classical electrostatics, intermolecular interactions,
check-listclean-up
Heather Mayes: Force fields, Long range electrostatics
Jacob Monroe:  Main steps of an MD simulation
Justin Gilmer: Thermostat

I c

[2017-11-02 21:37] davidlmobley commented on #3
@hmayes - I already wrote Classical Electrostatics (a draft) and it covers I think most of what would perhaps go in "Long range electrostatics" (see #6 where we were discussing whether we should remove that section entirely). And I wrote intermolecular interactions already, so no need for you to take that one on.

Seems like your job mainly is going to be force fields and then to weigh in on the "

[2017-11-02 21:46] hmayes commented on #3
Ah, thanks for the clarification.

[2017-11-03 15:02] justinGilmer opened #8 "Url not wrapping properly"
https://github.com/MobleyLab/basic_simulation_training/blob/896f3eb55a6e2d1d6b2dbffcfd981a9d308d79d8/paper/basic_training.tex#L196

For this url and the one below it, it is not properly wrapping to the next line in the pdf.

[This](https://tex.stackexchange.com/questions/3033/forcing-linebreaks-in-url) might be a solution to our problem, however, I have not had time to verify. Once I submit the th

[2017-11-03 19:44] justinGilmer opened #9 "Latex Makefile for proper compilation?"
Coming from someone who is a bit less tex and latex savvy, it might be useful to create a very barebones latex makefile for this paper. Im able to compile on my machine, but there are many errors abound and im not sure if my PDF version is exactly correct. that or even just a script for the compilation of the paper could be very useful as we are finalizing this paper throughout the day.

[2017-11-03 19:49] davidlmobley commented on #9
Haha, I'm on the opposite end of this -- if I see a makefile I think "Oh, no, this is going to be complex to compile!". I usually use:
- TeXShop on my Mac, or
- Overleaf
and both of these work seamlessly in general, e.g. in Overleaf it just compiles automatically and "just works" and on my Mac, I just click "compile" and it compiles.

[2017-11-03 20:07] justinGilmer commented on #9
Fair point :). I realize now, that the errors I was getting seem to be warnings. I think they are the overflowing urls I mentioned in #8 . I was able to ignore and still produce the pdf.

This makes a bit more sense now. So I will close this issue.

[2017-11-03 20:07] #9 closed

[2018-05-10 04:46] JIMonroe opened #13 "Migrated suggested edits for thermostat section"
Comments on thermostat pull request from @davidlmobley migrated here:

OK, I'm going through your edits, and have some comments in a couple categories...

Big picture:

I like it!
I don't think you can make it much shorter without losing detail we need
Probably needs more explicit recommendations/warnings (see below)
Probably needs more references
Things which need some attention:

Velocity rescal

[2018-05-10 05:03] avisekdas commented on #13
My take on the topics of thermostat/barostat is the following. Let's stick
to the basic issues and warn users about common mistakes and known issues
that are non-trivial. We should be clear about some old implementations
that do not sample proper ensembles. But let's not go into the details, for
example issues related to free energy calculations will be too much
information for a new user. Those i

[2018-06-24 22:51] JIMonroe opened #15 "Move "Stochastic Dynamics" section to sub-section of "Integrators""
I'm looking at what we still need to fill in and I don't see why these should be separate.  We already discuss stochastic thermostats as its own sub-section. We can still include discussion of Brownian dynamics as a special case of integrator without losing any key information, I think.

[2018-07-05 18:21] davidlmobley opened #17 "Make Issues for remaining content to be written?"
@JIMonroe - any chance you want to create Issues on the tracker for any content which still needs to be written, so we can divvy up tasks among those who want to help?

[2018-07-05 22:08] JIMonroe opened #18 "Write "Classical statistical mechanics" section"
This is an important one, but also something we don't want to spend too much time summarizing, as there are already many great resources out there.  Mainly the task will be to write a very concise overview with an eye towards knowledge necessary for understanding MD simulations, then provide an excellent, specific references list.

[2018-07-05 22:10] JIMonroe opened #19 "Write "Barostats" section"
This can me modeled after the neatly-organized thermostat section, and should utilize and connect to that section as needed.

[2018-07-05 22:12] JIMonroe opened #20 "Write "Integrators" section"
This will incorporate the "stochastic dynamics" section, so that section does not need to be written ( see #15 ).

[2018-07-05 22:16] JIMonroe opened #21 "Write "Long range electrostatics" section"
We can either make this a stand-alone section, or go into more detail in the "Classical electrostatics" section.  This is an important issue, so a more detailed discussion of Ewald summations is warranted.  However, we do not want to overlap too much with what is already in "Classical electrostatics" (or some of what is there should be moved to this section).  See #6  for some discussion of this.

[2018-07-05 22:19] JIMonroe commented on #17
I think I got everything (at least what's currently in the outline as it now stands).  If additional sections are needed, please add them as issues.  Also, if there are any comments or suggestions for changing currently written sections, please also add those as issues so they may be tracked and eventually addressed.

[2018-07-05 22:19] #17 closed

[2018-07-05 22:22] davidlmobley commented on #21
I could go either way. This one is going to be done by Samarjeet, so maybe we get his input. I've e-mailed him asking for his GitHub ID as I don't have it or if I do, can't find it at the moment.

[2018-07-05 22:31] davidlmobley commented on #8
Closed by #22 .

[2018-07-05 22:31] #8 closed

[2018-07-05 22:32] davidlmobley commented on #13
I'll go through the thermostats section with an eye on my comments above and see what I think needs addressing in view of @avisekdas 's remarks, make a PR, and close this. Probably next week.

[2018-07-05 22:33] davidlmobley commented on #20
Probably want to note some of Leimkuhler's newer integrators in this section; the Chodera lab has some recent work with these and we've been using some as it seems possible to dramatically improve integration accuracy without much cost in some cases. I believe they have a preprint out by Fass and Chodera.

[2018-07-05 22:42] davidlmobley commented on #18
I'm not actually too sure how to deal with this one; maybe we should just try and write a really brief amount on some of the key issues and why they are important and link out a lot.

I'll write Dan Zuckerman and see if he has any suggestions.

Actually, better yet, I'll tag him here.

@dmzuckerman we are working on getting our "simulation basics" best practices document together for submission. B

[2018-07-05 22:46] davidlmobley opened #23 "Check books referenced and make sure we want to endorse"
We list a lot of books without giving full details; we should give full details and citations.

Additionally, we should make sure that one or more of the authors actually knows and would recommend each of these books; we will be essentially endorsing them so I want to be able to say, "Yes, we really do recommend that; authors ABC and DEF are familiar with it and say it's one of the best books on t

[2018-07-06 01:21] justinGilmer commented on #19
I can definitely work on this section. Apologies for the radio silence recently! Traveling at the moment but I'll be back this weekend!

This section was derived from my notes from my undergraduate schooling. Ill start on this, this weekend and put some edits up next week.

[2018-07-06 20:34] dmzuckerman commented on #18
I think I wrote a lot of that brief outline!  I would consider lending a hand with this - i.e., trying to write about one page on essential concepts with links out to references.  The problem is that since I have devoted so much of my 'free time' to the subject, I will mostly self-reference my book and perhaps blog.  I would welcome additional references put in, of course.  So think about whether

[2018-07-06 21:34] davidlmobley commented on #18
@dmzuckerman - I really like your book, and others speak highly of it as well. I'd be totally fine with accepting your contribution on those conditions. Plan on it??

I'll "assign" the issue to you. When you edit, please add yourself as an author. :)

[2018-07-06 21:34] davidlmobley commented on #18
(Actually I have to invite you to the repo first, which I'll do now.)

[2018-07-11 00:09] davidlmobley commented on #23
Here are the books referenced; please edit this comment and put your initials next to them if you endorse for the corresponding topic (@samarjeet @hmayes @avisekdas @JIMonroe @justinGilmer @dmzuckerman ) or if for some reason that doesn't work, just comment below and I'll consolidate initials.  **The goal of this is to make sure we do not point people to books that we don't endorse.**

### Overall

[2018-07-12 23:33] davidlmobley commented on #21
@samarjeet - still thinking to make headway on this soon?

[2018-07-12 23:33] davidlmobley commented on #19
@justinGilmer - still on track to get something in this week?

[2018-07-12 23:33] davidlmobley commented on #13
Closed via 26.

[2018-07-12 23:33] #13 closed

[2018-07-12 23:34] davidlmobley commented on #18
Closed via #28

[2018-07-12 23:34] #18 closed

[2018-07-13 00:01] samarjeet commented on #21
Yes, I am working on it and I will have it ready by tomorrow. Sorry, I didn't see the previous discussion on this part. I am also including a discussion on the use of IPS for cases when the system can be assumed to isotropic. However, the focus is still on PME and there are a few repetitions of the concepts already mentioned in Classical Electrostatics. We can bring in the changes at the later edi

[2018-07-13 00:07] samarjeet commented on #20
I haven't started working on this one yet. I know about the implementation and usage the traditional integrators but haven't looked at Chodera lab's work. If someone else wants to take this one, that would be great. Otherwise I will work on the newer integrators over the weekend and try to write it over the next week.

[2018-07-13 03:10] JIMonroe commented on #20
@samerjeet , I can help with this, too.  Do you want to focus on writing up information on traditional integrators and then I can add on a bit for stochastic integrators and more recent work?  I'm not familiar with the Chodera lab work either, but it will be good for me to learn a little bit.  If you want to write it all, I'm happy with that too!

[2018-07-13 21:47] justinGilmer commented on #23
Could not edit, but here are my recommendations:

## overall
Allen and Tildesley (JBG)

## Stat mech
McQuarrie (JBG)
Thermal Physics by Kittel and Kroemer (JBG)

## Thermodynamics
McQuarrie (JBG)
If I recall correctly, McQuarrie also provided a treatment for themo as well. This was the book we used in my undergrad classes.

Thermal Physics by Kittel and Kroemer (JBG)

[2018-07-16 13:50] justinGilmer commented on #19
@davidlmobley  Somehow I missed this notification. But I will have a rough draft of this sometime this week. Two conferences last week and now this week, but I will make sure to get this in!

[2018-07-22 19:15] JIMonroe commented on #20
@samarjeet , do you want me to take a shot at writing this section?  I'm not sure I'll do a great job, but if you're available to read through and edit I'm willing to put something down.  We essentially have until the end of the week.

[2018-07-23 13:05] davidlmobley commented on #20
@JIMonroe - I haven't heard anything from Samarjeet and we have just one week to go. Maybe you want to take a first pass at this?

[2018-07-23 13:06] davidlmobley commented on #19
@justinGilmer touching bases on this. One week to go, so if you're not going to have something today or tomorrow let me know so I can block out time in the next week to work on it myself.

[2018-07-23 15:36] justinGilmer commented on #19
Sorry about that! Working on this today; will hope to have a pr for review by this evening or tomorrow morning!

[2018-07-24 16:03] justinGilmer commented on #19
Finishing this up now. PR in the next few hours.

[2018-07-25 00:59] davidlmobley commented on #19
Yay, thanks. And if you finish that and feel like reading more, check out Jacob's open PR.

I'll be trying to do some more writing tomorrow and Thursday myself.

[2018-07-26 03:57] samarjeet commented on #23
I have used this book "Numerical Simulation in Molecular Dynamics : Numerics, Algorithms, Parallelization, Applications" by Michael Griebel, Gerhard Zumbusch, Stephan Knapek. I would definitely endorse it as I have used it heavily in writing my sections.

[2018-07-26 05:37] JIMonroe opened #34 "Add bullet points at beginnings of sections"
We can do this at the end after we have all of our ideas down.  These should clearly express key ideas and topics that should be gleaned from the associated text.

[2018-07-26 05:38] JIMonroe commented on #15
Closing this, since it's done.

[2018-07-26 05:38] #15 closed

[2018-07-26 05:41] JIMonroe opened #35 "Fill out Thermodynamics section"
Just needs to be done.  Any takers?  If I don't hear anything by Friday afternoon, I'll work on this while traveling.

[2018-07-26 12:49] avisekdas commented on #35
Dear All,

Due to unforeseen administrative responsibilities and grant writing I could
not contribute to the paper. Please remove my name from the author list, if
you have not already done so.

Thank you for taking this forward and sorry for the inconveniences caused
by mine irregular response.

Thanks,
Avisek

On Thu, Jul 26, 2018 at 11:11 AM, Jacob Monroe <notifications@github.com>
wrote:

[2018-07-30 13:39] hmayes opened #41 "Should I add more refs in general?"
Hello all! I'm beginning to read through everyone's contributions and edit as I go. My first impression is that this is far fewer refs that I would use. For example, when we say that MD is a key tool, I'd reference some reviews that give examples to back up this statement.

Is there any reason we want to limit refs (e.g. not overwhelm students), or should I start adding? Of course, my additional w

[2018-07-30 17:40] davidlmobley commented on #41
Please start adding, @hmayes ! I think we probably want to walk a middle ground though between:
a) Add a ton of references like a review, where some of the references might perhaps only be tangential, and
b) Add a few references where each is extremely helpful

We probably want to ensure every reference is indeed quite helpful and NOT have a ton, e.g. that each one is actually really worth reading

[2018-07-30 17:44] hmayes commented on #41
Thanks for the feedback! I'll be selective.

On Mon, Jul 30, 2018, 7:40 PM David L. Mobley <notifications@github.com>
wrote:

[2018-07-30 18:46] davidlmobley commented on #23
@hmayes - did you have any input on the book list above?

[2018-07-30 19:24] davidlmobley opened #43 "Edit PME section, check number of equations"
I left a number of comments on #38 which we merged. It will need:
- grammar edited
- decide if level/number of equations is appropriate
- overall cleanup
- dealing with my comments there

[2018-07-30 23:02] davidlmobley opened #46 "Add something on MC barostats"
#32 added barostat info but we still need something on MC barostats.

[2018-07-30 23:48] #21 closed

[2018-07-31 00:02] JIMonroe commented on #46
I can take MC barostats. It just boils down to throwing an MC volume change move into an MD simulation every once in awhile, right? I can write this up now unless you want it @davidlmobley .

[2018-07-31 06:11] #41 closed

[2018-07-31 16:32] davidlmobley commented on #23
I think we have most of these in already, @hmayes !

[2018-07-31 19:00] davidlmobley opened #50 "Thermostat naming"
@justinGilmer @JIMonroe : @EfremBraun pointed this out:

OK with calling what we currently call the ``Hoover thermostat`` the Gaussian thermostat? I don't think I've heard it called just ``Hoover`` so I will make this change unless there are objections.

[2018-07-31 19:01] justinGilmer commented on #50
Yeah, Gaussian is fine with me. Its a bit more descriptive as well.

[2018-07-31 19:08] EfremBraun commented on #50
I'll make this change in an upcoming pull request (I'll send it in a few hours).

[2018-07-31 19:11] EfremBraun commented on #50
Oops, that works too.

[2018-07-31 19:11] #50 closed

[2018-07-31 19:13] davidlmobley commented on #50
I've just got this into my open PR that I'm working on, @EfremBraun . So maybe your new PR can build off of mine (#44 ).

I hope to finish in the next hour.

[2018-07-31 19:50] davidlmobley commented on #46
Resolved by #48

[2018-07-31 19:50] #46 closed

[2018-07-31 19:51] davidlmobley commented on #20
This was added.

[2018-07-31 19:51] #20 closed

[2018-07-31 19:51] davidlmobley commented on #19
This was done.

[2018-07-31 19:51] #19 closed

[2018-07-31 19:52] davidlmobley commented on #4
This is punted indefinitely -- still a good thing to do someday, but not happening very soon.

[2018-07-31 19:53] davidlmobley commented on #35
@JIMonroe got a draft of this in already.

[2018-07-31 19:53] #35 closed

[2018-07-31 19:54] davidlmobley commented on #34
I am not actually sure we want to do this, or at least, we should probably do it only where it makes particular sense (some sections do not seem to lend themselves to this). Do you have an example where you think it will really help?

[2018-07-31 19:55] davidlmobley commented on #23
Marking this as closed because I think I have people's recommendations above, and I brought all the references in in #44 I believe.

[2018-07-31 19:55] #23 closed

[2018-07-31 19:55] davidlmobley opened #52 "Deal with remaining to-do items"
There are various to-do items in the text; I could use people's help working through them.

(And feel free to also add more when you see things that need doing.)

[2018-07-31 21:43] JIMonroe commented on #34
I'm neither for nor against the bullet points in general.  Overall, though, I would argue for consistency, though it looks like we're moving towards getting rid of most of them in the more recent versions.

I'm going to close this and just let things evolve as needed.

[2018-07-31 21:43] #34 closed

[2018-08-01 06:16] JIMonroe commented on #52
We're really close!

What time is our deadline tomorrow and are we expecting to finish all todos by then?

[2018-08-01 13:47] hmayes commented on #52
Yes, how much more time do we have??

[2018-08-01 16:12] davidlmobley commented on #52
I'm trying to figure that out. Basically I THINK I have to submit while my finance person is still in the office (since I have to use her corporate card), which means likely before 4 or 5 pm Pacific.  I'd be more comfortable, though, if we could submit really late tonight. So maybe I'll touch bases with Michael and see if he could accept a submission first thing in the morning.

I do have a reason

[2018-08-01 16:15] justinGilmer commented on #52
Yeah I will be available off and on today. Just printed out the master branch version and am going to read through the whole thing now.

[2018-08-01 16:20] davidlmobley commented on #52
@dmzuckerman - we're getting ready to submit today or tomorrow am if you want to do a read-through at all. It's a bit rough in places and we're waiting on one significant revision, but would love any edits.

[2018-08-01 16:25] hmayes commented on #52
I'm on Europe time, so if we have until tomorrow morning, I can do a read
through in my morning (9 hrs ahead of Irvine CA), allowing me to read
through things added tonight.

On Wed, Aug 1, 2018 at 12:20 PM, David L. Mobley <notifications@github.com>
wrote:

[2018-08-01 16:26] davidlmobley opened #59 "Figure additions?"
We could really use more figures. Not sure how much headway I can make on that today, but at least we can brainstorm here about figures we ought to have eventually, and perhaps work some on them while this is in review.

Ideas:
- Figure (cartoon) showing the terms in a typical potential energy function and what they mean
- Cartoons illustrating equilibration (?) and convergence (?)
- ...?

[2018-08-01 16:28] hmayes commented on #59
I can take a stab at the first one unless anyone else has started on
that....

On Wed, Aug 1, 2018 at 12:26 PM, David L. Mobley <notifications@github.com>
wrote:

[2018-08-01 16:49] davidlmobley commented on #59
Sounds great. Um, do you have Keynote? I have some old slides that perhaps could be reused if you like.

[2018-08-01 16:55] hmayes commented on #59
I do! Thanks!

On Wed, Aug 1, 2018, 6:49 PM David L. Mobley <notifications@github.com>
wrote:

[2018-08-01 16:57] davidlmobley commented on #59
One sec.

[2018-08-01 16:58] davidlmobley commented on #59
OK, so there are some cartoonish graphics on side 6 here that you are welcome to use/adapt/trash depending on whether you like them or not: https://drive.google.com/file/d/0B5sFkoaaNUxtbXRUUVVPYWEtdG8/view?usp=sharing

[2018-08-01 23:30] EfremBraun opened #63 "Revisions"
Hard to make changes with the rapid-fire edits, so here are some I'd like to suggest:

Section 3.3.1: There are a few things that confuse me here.

Dynamical phenomena and their connection to equilibrium tend to be treated later in discussion, if at all.
But in both fundamental and practical ways, this ordering is wrong.
Think Arrhenius first, then Boltzmann.

I think this is phrased a little too

[2018-08-01 23:37] davidlmobley commented on #63
@EfremBraun on the stat mech material no one is touching it at present so you are free to edit away.

I think I am inclined to agree with you; feel free to propose an edit.

Likewise, I agree with you. I think Zuckerman (who wrote this) is mainly thinking about biomolecular simulations, but our topic is broader so we should temper the language.

Fine with me.

[2018-08-02 00:26] JIMonroe commented on #59
![equilibration_fig](https://user-images.githubusercontent.com/7297977/43555588-eb7f33fa-95af-11e8-8c23-6891659143c8.png)

For the equilibration illustration, were you thinking something like this?

[2018-08-02 00:27] davidlmobley commented on #59
Something like that would be helpful, yes.

[2018-08-02 00:28] davidlmobley commented on #59
(General thought being that we want warning bells to go off in someone's head if they see a curve which is changing still systematically as a function of time at the end of "equilibration")

[2018-08-02 00:28] #63 closed

[2018-08-02 00:34] EfremBraun opened #68 "Two things I'm not sure about"
We noted above that an MD trajectory is not likely to represent the equilibrium ensemble because the trajectory is probably too short.
However, in a living cell where there is no shortage of time, biomolecules may exhibit non-equilibrium behavior for a quite different reason -- because they are \emph{driven} by the continual addition and removal of (possibly energy-carrying) substrate and product

[2018-08-02 00:38] JIMonroe commented on #68
Yes, the 1-4 interaction thing is right.  For LJ terms, the 1-4 reduction is 1/2, and for electrostatics it's 1/1.2.  Unfortunately, all force fields generally treat 1-4 interactions differently.

[2018-08-02 00:45] davidlmobley commented on #68
I think what you're getting at here (the best ways of calculating specific properties) might be outside the scope of this work; there will be (or we hope there will be) SEPARATE best practices documents on  how to do various different kinds/types of calculations, e.g. one might imagine a best practices document on "calculation of transport properties", "calculation of diffusion coefficients" (?) e

[2018-08-02 00:45] davidlmobley commented on #43
Ongoing in #69 , help wanted.

[2018-08-02 02:48] #68 closed

[2018-08-02 04:41] davidlmobley commented on #43
Resolved by #69

[2018-08-02 04:41] #43 closed

[2018-08-02 04:51] davidlmobley opened #71 "To do items for a subsequent revision (?)"
Things it doesn't seem like we will get to for our initial version, but which would probably be good to include:

- "Blowing up" as a symptom of deeper problems/energy minimization issues; I can't tell you how many times I've had students spend a lot of time trying to figure out what's wrong with their constraint algorithm, when really that's just a symptom of the underlying problem (inadequate mi

[2018-08-02 12:41] davidlmobley commented on #59
OK, resolved by #73 and #74, thanks!

[2018-08-02 12:41] #59 closed

[2018-08-02 12:55] davidlmobley commented on #52
Closed by #76

[2018-08-02 12:55] #52 closed

[2018-08-02 12:56] davidlmobley opened #77 "Add source materials for figures"
@JIMonroe @hmayes can you add the source materials for the figures you recently added in case we ever want to update them?

[2018-08-02 12:59] davidlmobley commented on #77
Heather's was added by #75

[2018-08-02 15:06] davidlmobley commented on #71
Provide a list of all the abbreviations/symbols.

[2018-08-02 15:33] davidlmobley opened #83 "Submit paper"
Barring any notification from @hmayes , @samarjeet , @JIMonroe @justinGilmer or @EfremBraun in the next couple minutes that something is still pending, I'm going to attempt to submit by 9 am once I get one last PR merged.

[2018-08-02 15:34] davidlmobley commented on #83
Thanks, everyone, for all the help on this! It was great seeing everything come together in the last couple days. :)

[2018-08-02 15:37] justinGilmer commented on #83
Awesome! Congratulations everyone!

[2018-08-02 15:49] hmayes commented on #83
Thank you all!!

On Thu, Aug 2, 2018 at 11:39 AM, Justin Gilmer <notifications@github.com>
wrote:

[2018-08-02 15:50] davidlmobley commented on #83
OK, it's off!! Roughly the easiest submission process ever; nowhere near as many boxes to fill in as normal. :)

[2018-08-02 15:52] samarjeet commented on #83
Perfect !! Thanks everyone :)

[2018-08-02 15:54] hmayes commented on #83
Nice!!

On Thu, Aug 2, 2018 at 11:52 AM, David L. Mobley <notifications@github.com>
wrote:

[2018-08-02 15:57] #83 closed

[2018-08-02 16:13] JIMonroe commented on #77
I know you've already submitted, but I've just added the python script I used to generate the figure.  No changes to the text or pdf.

[2018-08-02 16:21] davidlmobley commented on #77
Perfect, thanks! (And yes, adding things here after submission is perfectly reasonable; this will be an ongoing process.)

[2018-08-02 16:21] #77 closed

[2018-08-02 18:09] justinGilmer opened #87 "Create tagged version with a release once accepted"
We should tag this version once it has been accepted into the journal. Will allow us to create a something that can be fetched by git, and we can generate a compressed file archive of the repo at this state.

[2018-08-02 18:09] justinGilmer commented on #87
https://help.github.com/articles/creating-releases/

[2018-08-02 18:27] davidlmobley commented on #87
Yes, exactly.

We should perhaps create a release of the submitted version. Or maybe a "v1.0 pre-release" or something.

[2018-08-02 18:55] justinGilmer commented on #87
Agreed. I think all collaborators can do this, but it might just be the repository owner.

I am not too sure. The repo's where I have done this have all been through one's where I have ownership.

I think it would be nice to archive the paper along the way. Pre-release sounds like a great plan.

then we can create a new tag and release for the accepted manuscript

[2018-08-03 16:32] justinGilmer commented on #87
@davidlmobley I've created a release that has been marked as a pre-release.

If you think it seems ok, feel free to publish it as our first release.

[2018-08-03 16:34] davidlmobley commented on #87
Published the pre-release, thanks.

[2018-08-17 18:22] davidlmobley opened #89 "Typo/grammar fixes/clarity issues to deal with for revisions"
From @vtlim in my group; we should add an acknowledgment/contributions spot for her when we fix these:

- [x] p.5, left column, bottom, "The rate coefficient kab..." is not a complete sentence. I think the word "which" here is superfluous.
- [x] p.6, left column, end of first paragraph, two periods after "e.g."
- [x] p.8, right column, there should be a period before the sentence "Coulombic intera

[2018-11-03 03:26] davidlmobley opened #91 "Peer reviews are in; need to deal with them ASAP"
Peer reviews came in (late) on Oct. 10 but apparently there was an e-mail glitch with the system so I was never notified. I've just retrieved them and am posting here. *We need to rush and get the paper revised* so we don't hold up the first issue or get left behind.

The main text of the comments is high-level , but one of the reviewers provided a marked up PDF file:
[marked up PDF file](https://

[2018-11-04 17:17] hmayes commented on #89
I have some time to make changes today; will make a pull request when I'm done

[2018-11-04 18:20] hmayes commented on #89
Items from the review that I have not yet addressed:

- [ ] P. 2, col. 2, top: "I don't see why this is particular to free-energy calculations, and not, say, transport properties."
- [] P. 3, col. 2, bottom: This sentence was highlighted with no explanation: "These concepts
play an important role in development and proper implementation of simulation methods. For example, a particularly straightfo

[2018-11-04 18:20] davidlmobley commented on #89
Thanks!

[2018-11-04 18:34] hmayes commented on #91
For the comment: "If one of the co-authors has a moment to pull these and either address or (if they require more work) turn them into issues on the issue tracker that would be awesome". I just did this, adding the issues I did not resolve to issue #89, and addressed many of those issues. Pull request to follow....

[2018-11-05 15:54] dmzuckerman commented on #91
Great to see the positive reviews.  I read through the commented pdf and did not see any suggestions for my section.  Please just let me know how I can help.

[2018-11-05 18:21] justinGilmer commented on #89
Sorry, I missed these notifications. I will work on these this afternoon/evening.

[2018-11-06 00:20] JIMonroe commented on #89
I have checked off items that I have addressed (check boxes 5, 6, and 9) and pushed the changes to a commit in the hbmayes branch (hope that's alright).

For check box 3, I also have not read this book.

I'm voting to ignore check box 4 since we already talk about choosing force fields earlier in the document, and as the reviewer mentions, we can't possible stay within the scope while providing fo

[2018-11-06 01:01] davidlmobley opened #93 "(Longer term) Expand discussion of PBC to address visualization issues with "molecules outside the box""
If I had $1 for every time I've had to explain why molecules appear "outside the box" on visualization, I'd be quite wealthy. In a subsequent revision we should add a discussion of this to the section on periodic boundary conditions, as it's an issue that foils a lot of people.

(I've actually seen the problem cut both ways, too -- sometimes people assume it is NOT a problem when it is, because th

[2018-11-06 01:47] davidlmobley commented on #89
Thanks, @hmayes and @JIMonroe ! I'll try and deal with more issues tonight and tomorrow.

[2018-11-06 02:19] davidlmobley commented on #89
@EfremBraun - do you know the answer to this? "p. 16, col 1, last sentence of "Langevin"--reviewer wrote "Wouldn't zero dampling reduce to the Andersen thermostat, due to F_random?" I'm not familiar with details of how the random force is handled and whether it is exactly equivalent.

[2018-11-06 02:29] davidlmobley commented on #89
@samarjeet did you create the figure on decay of electrostatic interactions? I'm not seeing code for it in this repo; we need to generate an updated version of it with a different vertical axis scale. Can you do so, or provide code to re-generate? (Ideally both!)

[2018-11-06 03:19] samarjeet commented on #89
@davidlmobley Yes, I can update it as well as attach the code as well. Let me do that asap.

[2018-11-06 04:37] samarjeet commented on #89
@davidlmobley I have added the matlab script for the figure in temp_graphic_files. The figures currently shows only the functional form of the expressions but the reviewer is right in pointing out that the reader may get an incorrect impression about the relative values of vdw and direct component of ewald. As the charges or well depth will be specific, I had not used it while making the figure.

[2018-11-06 18:01] davidlmobley commented on #89
@samarjeet what would be best would be if you made the r=1 value be 1 for all of them, so that the thing being compared in the figure is ONLY how fast they decay.

I don't have matlab, so it would be great if you could make this change really quick.

[2018-11-06 18:17] davidlmobley commented on #89
I'll start addressing some of the remaining issues from
https://github.com/MobleyLab/basic_simulation_training/issues/89#issuecomment-435693072 in a fresh PR, #95 .

[2018-11-06 18:47] justinGilmer commented on #89
for this checkbox:
`p. 16, col 1, last sentence of "Langevin"--reviewer wrote "Wouldn't zero dampling reduce to the Andersen thermostat, due to F_random?"`

Not sure how we want to address this. But if the damping term is reduced to 0, both the noise term and the friction forces both go to zero, as they are both dependent on the damping factor.

So it is true that the Langevin thermostat as the da

[2018-11-06 18:51] davidlmobley commented on #89
@justinGilmer I am proposing adding a footnote that says that. I've taken a pass at this in #95.

[2018-11-06 18:52] davidlmobley commented on #89
Anyone know offhand why constant mu-P-T simulations would be inadvisable?

[2018-11-06 18:52] justinGilmer commented on #89
That looks great to me. Explains it succinctly.

[2018-11-06 19:00] JIMonroe commented on #89
The footnote looks good to me, too.  This is probably too technical, but for the sake of completeness...

@justinGilmer is right that if the friction factor goes to zero, both the drag and random forces go to zero.  However, if you look at certain discretized versions of this (like in the GROMACS manual), it looks to me like setting the friction factor to zero causes ONLY the drag term to drop out

[2018-11-06 19:01] JIMonroe commented on #89
In other words, there may be a difference between the true Langevin equation and the discretized versions implemented in most packages.

[2018-11-06 19:01] davidlmobley commented on #89
@JIMonroe thanks. That sounds like it would be, er, potentially a problem with GROMACS/discretization then.

[2018-11-06 19:02] davidlmobley commented on #89
@JIMonroe @justinGilmer do you know anything about the "osmotic ensemble", and/or why not to do simulations at constant mu, P, T? (Or, in the case of the latter, who put them into the checklist?) I am not offhand finding much on either. On constant mu, P, T simulations I'm wondering if we just got overambitious in what we listed in the checklist?

[2018-11-06 19:03] justinGilmer commented on #89
This is one of the better discussions about mu-P-T ensembles I have found.

[https://sourceforge.net/p/lammps/mailman/message/36293233/](https://sourceforge.net/p/lammps/mailman/message/36293233/)

However, I am not sure how best to explain this in the text. Or a good reference aside from this discussion and the wiki for the [gibbs-duhem equation](https://en.wikipedia.org/wiki/Gibbs%E2%80%93Duhem_

[2018-11-06 19:04] justinGilmer commented on #89
I feel like it might have been just overambition, but I am not sure. We can go back and check the blame of the file to see who put it in though.

[2018-11-06 19:05] davidlmobley commented on #89
Seems like we should just strike that from the paper; I was worrying about expansion and phase transitions. I'll remove.

That just leaves the issue of osmotic ensemble.

[2018-11-06 19:07] JIMonroe commented on #89
Not completely sure, but it in mu-P-T all of you're fixed state variables are intensive.  Without at least one extensive variable defining the ensemble, I think things get pretty unstable in terms of simulations pretty quickly.

[2018-11-06 19:19] davidlmobley commented on #89
A Google Scholar search for "osmotic ensemble" turns up only [297 hits]("osmotic ensemble"), all recent. While interesting, I think this is still a niche ensemble and not something that belongs in a basic simulation training document -- especially since we nowhere enumerate all ensembles which might be of interests; we focus on typical ones used in molecular simulation and don't have a separate se

[2018-11-06 19:35] davidlmobley commented on #89
Let me take a look.

[2018-11-06 19:36] davidlmobley commented on #89
(And of course we need @samarjeet 's update, unless you have matlab handy to do it for him.)

[2018-11-06 19:40] davidlmobley commented on #89
Yeah, I don't know that book. I updated above; let's not add the reference unless someone we trust specifically endorses it here. I don't want to be in a position we're effectively recommending that people buy a book that none of us are familiar with. We have to be able to defend our choices. "An anonymous reviewer suggested it" is not a great defense for recommending a purchase, in my opinion (a

[2018-11-06 19:44] JIMonroe commented on #89
@samarjeet - I do have Matlab, but I'm not seeing a Matlab file in temp_graphic_files directory.

[2018-11-06 19:45] davidlmobley commented on #89
@samarjeet did you perhaps only put it in your directory locally, or put it in a branch?

[2018-11-06 19:45] davidlmobley commented on #89
(I'll be tied up for a while beginning now.)

[2018-11-06 19:46] samarjeet commented on #89
@davidlmobley I have added the python version of code as well and the updated figure too. It's in the post_edits branch.

[2018-11-06 19:47] samarjeet commented on #89
I am editing the line marked unclear by the reviewer in the Long range electrostatics section.

[2018-11-06 19:48] davidlmobley commented on #89
@samarjeet which line? I THINK we have already addressed all the issues.

Thanks for the code/plot; I'll get it merged in.

[2018-11-06 19:56] samarjeet commented on #89
Thanks. That sounds good. The caption will have to be changed as well.

Can I update another line after the merge (not pointed out by reviewer) ? I had written in an earlier paragraph that attenuated direct space component decays faster than vdw, but I am not so sure about that after plotting the figure. It depends on the kappa value that is used. A larger kappa value means that greater portion is

[2018-11-06 20:36] EfremBraun commented on #89
I'm not too big a fan of this footnote. If I were the reader, I would be confused; I'd say to myself, "Why would anyone think that getting rid of damping would reduce the Langevin thermostat to the Andersen thermostat in the first place? The authors must be alluding to something that I'm not thinking of. What can it be?"

I think that we should just point out the reviewer's error in our response a

[2018-11-06 20:39] davidlmobley commented on #89
@EfremBraun

I'd be OK with that. My thought process was, though, that usually anytime ONE person has a particular question they are representative of a larger group of people who will have the same question, so it's best just to deal with it. Input from the rest?

@samarjeet

Yes. Please create a new branch based off of `master` and propose edits in that branch and then do a PR.

[2018-11-07 12:30] EfremBraun commented on #89
Ah, now I see what confused the reviewer. The paper says, "Careful consideration must be taken when choosing the friction damping parameter," which implies that the stochastic term remains constant. I've just put in a pull request that corrects this misleading sentence, which also allows us to get rid of the footnote.

[2018-11-07 16:13] davidlmobley commented on #89
@EfremBraun - remove the footnote at the same time?

[2018-11-07 16:14] davidlmobley commented on #89
@EfremBraun your PR doesn't seem to have that commit yet; the only change is an updated reference. Is your change stuck in a branch?

[2018-11-07 19:19] davidlmobley commented on #89
Ah, @EfremBraun ; it was stuck in a branch, but I found it and it looked great, so I did a PR and merged it.

[2018-11-07 19:21] davidlmobley commented on #89
OK, we dealt with all of these in #99 #98 #97 #96 #95 and #94 . Closing.

[2018-11-07 19:21] #89 closed

[2018-11-07 19:21] #91 closed, assigned to samarjeet, EfremBraun, davidlmobley, JIMonroe, hmayes, justinGilmer, dmzuckerman

[2018-11-07 19:23] davidlmobley opened #100 "Use bibliography checking software to check references"
Since we drafted this, we've managed to identify a bibliography checking tool that will check all references against CrossRef. It's identified in the liveComS documentation somewhere now (I don't have it on hand at the moment) and we should do a pass of reference checking with it. This can probably be done while the article is progressing through Scholastica again.

[2018-11-15 10:15] brookehus opened #101 "best way to cite?"
Would you be able to provide (maybe in a readme?) the best way to cite the article, perhaps as an example latex bib entry?

If this already exists, I couldn't find it - thanks!

[2018-11-15 17:14] brookehus commented on #101
We are in the process of submitting revisions to our own LiveCoMS article within a couple of days. So of course we can update the github with the proper citation when it comes. But it would be cool to have the LiveCoMS one if possible!

[2018-11-16 11:08] brookehus commented on #101
Great - thank you!

[2018-11-23 05:10] mrshirts opened #102 "Update citations to LiveCoMS first issue papers before final publication."

[2018-11-23 05:14] mrshirts opened #103 "Helmholtz free energy is A, not F."
On line 307.

[2018-11-23 05:15] mrshirts opened #104 "Shorter paragraphs in future versions?"

[2018-11-23 05:18] mrshirts commented on #103
Sometimes one uses F to refer to either, but it's not totally standard, so should be explicitly stated. Later in the paper (end of page 5), F is sometimes used in this "either one" context.

[2018-11-23 05:27] mrshirts opened #105 "Should be "which fall off as 1/r3""
https://github.com/MobleyLab/basic_simulation_training/blob/924ee8724dca2462c12f6f1dbc287b5f1007460e/paper/basic_training.tex#L356

[2018-11-23 14:05] mrshirts opened #106 "Add citations / website links for the tools mentioned here."
https://github.com/MobleyLab/basic_simulation_training/blob/924ee8724dca2462c12f6f1dbc287b5f1007460e/paper/basic_training.tex#L591

[2018-11-23 14:10] mrshirts opened #107 "But generally, the autocorrelation time isn't known beforehand."
https://github.com/MobleyLab/basic_simulation_training/blob/924ee8724dca2462c12f6f1dbc287b5f1007460e/paper/basic_training.tex#L695

Should address that the autocorrelation time isn't known beforehand. Which may just be that you know the autocorrelation time for similar systems.

[2018-11-23 14:12] mrshirts opened #108 "Missing space before citation."
https://github.com/MobleyLab/basic_simulation_training/blob/924ee8724dca2462c12f6f1dbc287b5f1007460e/paper/basic_training.tex#L730

I would suggest searching for \cite{} and replacing with ~\cite{}. There are a number of other such formatting issues with citations.

[2018-11-23 14:24] mrshirts opened #109 "It would be useful to have citations on this point."
https://github.com/MobleyLab/basic_simulation_training/blob/924ee8724dca2462c12f6f1dbc287b5f1007460e/paper/basic_training.tex#L1019

[2018-11-23 23:08] davidlmobley commented on #100
Closed by #110 .

[2018-11-23 23:08] #100 closed

[2018-11-23 23:10] davidlmobley commented on #102
Presumably we'd be able to add:
- DOI
- Journal name
- Volume
- Issue number (?)

Anything else?

[2018-11-23 23:13] davidlmobley commented on #103
Addressed in #111

[2018-11-23 23:13] #103 closed

[2018-11-23 23:15] davidlmobley commented on #104
Some of the paragraphs are a bit long, yes.

[2018-11-23 23:15] davidlmobley commented on #105
Fixed in #111

[2018-11-23 23:15] #105 closed

[2018-11-23 23:29] davidlmobley commented on #107
Addressed by #111

[2018-11-23 23:29] #107 closed

[2018-11-23 23:33] davidlmobley commented on #108
Closed by #111

[2018-11-23 23:33] #108 closed

[2018-11-23 23:47] davidlmobley commented on #109
Closed by #111

[2018-11-23 23:47] #109 closed

[2018-11-28 22:05] davidlmobley commented on #101
@brookehus you can use the DOI 10.33011/livecoms.1.1.5957 I am told.

[2018-11-28 22:05] davidlmobley opened #114 "Need Monroe ORCID"
@JIMonroe I need your ORCID.

[2018-12-06 23:20] emmkar opened #116 "Duplicate references"
References [28] and [85] point to the same book (Statistical Mechanics by McQuarrie).
In addition, references [12] and [80] (Computer Simulation of Liquids by Allen and Tildesley).
Also, references [30] and [96] (Introduction to Modern Statistical Mechanics by Chandler).

[2018-12-15 18:20] emmkar opened #117 "Unused references"
References [93] - [98] are not used in the guide.

[2018-12-19 04:59] #116 closed

[2018-12-19 05:17] davidlmobley commented on #117
Thanks! For this and the other one; fixing now.

[2018-12-19 05:18] #117 closed

[2018-12-29 21:36] davidlmobley commented on #114
Resolved, he e-mailed me his.

[2018-12-29 21:36] #114 closed

[2018-12-29 21:36] #101 closed

[2018-12-29 21:58] davidlmobley commented on #102
Resolved in #120

[2018-12-29 21:58] #102 closed

[2018-12-29 22:08] davidlmobley commented on #87
Closing this; I also just created a release for the published version.

[2018-12-29 22:08] #87 closed

[2019-11-06 18:33] mrshirts opened #122 "Defining 'NVT' and 'NVE'"
On page 12,  NVT and NVE ensembles are used without being defined.  I don't actually see definitions anywhere in the paper.

[2019-11-06 18:34] mrshirts commented on #122
Since it's for beginners, these definitions should probably be given.

[2019-11-06 18:39] justinGilmer commented on #122
Great catch, I thought they were in a footnote somewhere, but i do not see any definitions either.

[2019-11-06 18:46] justinGilmer commented on #93
Ive found when explaining it to students, that video games are a pretty great way to visualize it.

Pacman is a nice example of pbcs, leave one side of the map, enter in the exact same orientation like you never left the box to begin with, on the other side of the map

Although this does not help explain when the molecules appear to diffuse outside of the box

Its a bit harder to explain the who i

[2019-11-06 21:39] mrshirts commented on #122
Was an undergrad I gave the paper to that caught it!  He didn't know what they were.  Debugging the code (for the brain).

[2019-11-06 22:37] davidlmobley commented on #93
Yes, I do use this analogy in class, but need to get it into te written materials.